<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entrar</title>
  </head>
  <body>
    <form action="auth.jsp" method="post">
      <label for="user">Usuario</label>
      <br />
      <input type="text" name="user" />
      <br /><br />
      <label for="pwd">Senha</label>
      <br />
      <input type="password" name="pwd" />
      <br /><br />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
