@import url(./header.css);

.mainContainer {
  display: flex;
  width: 100%;
  min-height: 89vh;

  align-items: center;
  justify-content: center;

  background-color: rgb(182, 182, 182);
}

.contentContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 500px;

  border: 1px solid #000;
  border-radius: 20px;

  margin: 50px;
  padding: 20px;

  justify-content: center;
  align-items: center;

  background-color: #fff;
}

.contentContainer form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 20px;

  text-align: right;
  vertical-align: center;

  gap: 20px;

  width: 80%;
}

.contentContainer form input,
.contentContainer form select {
  width: 100%;
  height: 40px;
  padding: 5px 5px 5px 10px;
  font-size: 16px;
  margin-top: 10px;

  border: 1px solid #000;
  border-radius: 3px;
}

.contentContainer form input:focus {
  box-shadow: none;
  outline: none;
}

.contentContainer form button {
  grid-column: 1/3;
  padding: 5px 5px 5px 10px;
  font-size: 16px;
  margin-top: 10px;

  cursor: pointer;

  width: 100%;
  height: 30px;
  border: none;
  border-radius: 3px;

  background-color: #bebebe;

  font-size: 18px;
  transition: all 0.1s ease-in;
}

.contentContainer form button:hover {
  background-color: #eee;
}

.buttonContainers button {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #bebebe;

  cursor: pointer;
  padding: 0 10px;

  font-size: 18px;
  transition: all 0.1s ease-in;

  text-align: center;
  vertical-align: center;
}

.buttonContainers button:hover {
  background-color: #eee;
}

.buttonContainers {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
